{% extends 'base.html' %}
{% block content %}
<ul class="list-group">
    <li class="h1 list-group-item active">Tags:</li>
    {% for tag in tags %}
        <li class="h3 list-group-item"> <a href="/{{ tag.id }}">{{tag.tag}}</a></li>
    {% endfor %}
</ul>

<h1>Create a Tag</h1>
<form method="POST">
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Name</span>
        </div>
        <input name="create_tag" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder='Enter a tag name'>
    </div>

    {% for post in posts %}
    <div class="form-check">
            <input name="create_tag" class="form-check-input" type="checkbox" value="{{ post.id }}" id="defaultCheck1">
            <label class="h3 form-check-label" for="defaultCheck1">{{ post.title }}</label>
    </div>
    {% endfor %}

    <div class="form-group row center">
        <div class="col-sm-10">
            <a href="/tags" class="btn btn-outline-primary">Cancel</a>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>
{% endblock %}